<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Life</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
    <!-- 导航 -->
    <nav class="ui inverted segment attached my-padding-tb">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item"><a th:href="@{/}">Active Life</a></h2>
                <div class="ui dropdown item my-mobile-hide  c-item">
                    <div class="text  my-font-bigsmall">
                        🥋疫情监控
                    </div>
                    <div class="menu ">
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="index.html" th:href="@{/}"> 国内疫情</a>
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="world.html" th:href="@{/world}"> 国外疫情</a>
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="rumor.html" th:href="@{/toRumor(page=1)}"> 警觉谣言</a>
                    </div>
                </div>
                <div class="ui dropdown item my-mobile-hide  c-item">
                    <div class="text  my-font-bigsmall">
                        🎉丰富生活
                    </div>
                    <div class="menu ">
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="../login.html"  th:href="@{/life(page=1)}"> 增加厨艺</a>
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="#" th:href="@{/toyl(page=1)}">新闻资讯</a>
                    </div>
                </div>
                <div class="ui dropdown item my-mobile-hide  c-item">
                    <div class="text  my-font-bigsmall">
                        📖高效学习
                    </div>
                    <div class="menu ">
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="../login.html" th:href="@{/bj/index}"> 在线笔记</a>
                        <a class="item my-mobile-hide c-item my-font-bigsmall" href="#" th:href="@{/study}"> 在线学习</a>
                    </div>
                </div>



            </div>
        </div>
        <!-- 汉堡 -->
        <span href="#" class="ui black button my-hanbao my-mobile-show" id="toggle-menu"><span style="font-size: 30px;" class="">🍔</span></span>
    </nav>
    <br>
    <br>

    <!-- 中间内容 -->
    <div class="my-container centered ">
        <div class="ui container">
            <div class="ui  stackable">
                <div class="ui segment">
                    <div class="ui segment">
                        <form class="ui form" action="/menu" th:action="@{/menu}" method="post">
                            <div class="ui field ">
                                <div class="ui label" >
                                    <label  style="font-size: 1.2em;font-weight: bold;">请输入你想要学的菜谱</label>
                                </div>
                                <button class="ui  right floated  inverted green button" id="search-btn"  type="submit">
                                    <i class="icon search"></i>搜索
                                </button>
                            </div>
                            <div class="ui field">
                                <div class="ui left labeled input">
                                    <label class="ui compact label  green basic">美食</label>
                                    <div class="ui fluid input ">
                                        <input  name="name" placeholder="请输入美食名称" type="text" >
                                        <input  name="page" type="hidden" value="1">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ui segment">
                        <div class="ui segment red ">
                            <a id="loveWords" class="ui left floated red label left pointing my-margin-top-ssmall large" style="font-size: 12px !important;" th:text="${loveWords}">你喜欢喝水吗？那你已经喜欢上70%的我了。</a>
                        </div>
                        <div class="ui segment yellow">
                            <div class="ui labeled button my-tag-font ">
                                <a href="#" class="ui  yellow button " th:text="${lifeCommon}" style="font-size: 12px !important;">蛋壳研成粉末，可代替去污粉，用来擦洗陶瓷器皿，效果比肥皂还好。</a>
                                <div class="ui  label yellow left pointing basic  ">生活小常识</div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="ui segment"   style="padding-top: 20px;padding-bottom: 20px;margin-top: 10px">
                        <div class="ui segment grid stackable mobile reversed " th:each="menu :${menuList}" style="padding-top: 10px;padding-bottom: 10px">
                            <div class="ui middle aligned animated list">
                                <h3 class="header">
                                    <a style="font-size: 1.2em" th:text="${menu.getCp_name()}"> 金钩黄瓜条</a>
                                    <a th:id='${menu.getTexing()!= ""}' th:text="${menu.getTexing()}" class="ui orange label left pointing my-margin-top-ssmall ">
                                        色泽鲜艳，咸香爽口</a>
                                </h3>
                                <div class="item">
                                    <div class="content">
                                        <div class="header" th:text='${"原料："+menu.getYuanliao()}'>黄瓜300克；海米10克；香葱1棵</div>
                                    </div>
                                </div>
                                <div class="item" th:if='${menu.getTiaoliao()!=""}'>
                                    <div class="content">
                                        <div class="header" th:text='${"调料:"+menu.getTiaoliao()}'>食用油25克；香油1小匙(3克)；精盐2小匙(6克)；味精1/2小匙(1.5克)</div>
                                    </div>
                                </div>
                                <div class="item" th:if='${menu.getTishi()!=""}'>
                                    <div class="content">
                                        <div class="header" th:text='${"提示:"+menu.getTishi()}'>腌黄瓜时不能加太多的盐，否则黄瓜不脆嫩。</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="content">
                                        <div class="header" >步骤:</div>
                                        <div class="description" th:each="zf:${menu.getZF()}">
                                            <p th:text="${zf}">首先</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui" >
                            <div class="ui middle aligned two column grid">
                                <div class="column left aligned">
                                    <a class="ui mini  button primary"  href="#"  th:href="@{/life(page=${page}-1)}" th:if="${page}>1">上一页</a>
                                </div>
                                <div class="column right aligned">
                                    <a class="ui mini  button primary" href="#" th:href="@{/life(page=${page}+1)}" >下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="ui inverted vertical segment my-padding-shuxian my-margin-top-small ">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="four wide  column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img class="ui rounded image" src="../../static/img/wx.jpg" th:src="@{/img/wx.jpg}" style="height: 50% !important;width: 50% !important;">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">学校</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="">>---运城学院---<</a>
                        <a class="item" href="">>---数学与信息技术学院---<</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">联系我</h4>
                    <div class="ui inverted link list">
                        <span href="" class="item">phone:15034344690</span>
                        <span href="" class="item">QQ:905866484</span>
                        <span href="" class="item">email:905866484@qq.com</span>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">NotForzq</h4>
                    <div class="ui inverted link list">
                        <span class="item">------------------------</span>
                        <span href="#" class="item"> 学习不仅仅是为了自己！前方不会孤单！</span>
                        <span class="item">------------------------</span>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="item my-opacity-font">Welcome to Active Life, since 2020</p>
            <p class="item my-opacity-font" href="http://www.beian.miit.gov.cn/">晋ICP备20001376号-1</p>
        </div>

    </footer>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/js/jhbg.js" th:src="@{/js/jhbg.js}"> </script>
    <script>
        $("#toggle-menu").click(function() {
            $('.c-item').toggleClass('my-mobile-hide');
        });
        $('.ui.button.icon.circular')
            .popup({
            });
        $('.ui.dropdown.item')
            .dropdown({
                on: 'hover'
            });
        $("#loveWords").click(function () {
            $.post("/getWords",function(data){
                $("#loveWords").text(data);
            });
        });
    </script>
</body>

</html>