<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>笔记中心</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <canvas height="990" id="c_n9" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;" width="1920"></canvas>
</head>

<body>
<!-- 导航 -->
<nav class="ui inverted segment attached my-padding-tb" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Active Life</h2>
            <div class="ui dropdown item my-mobile-hide  c-item">
                <div class="text  my-font-bigsmall">
                    🥋疫情监控
                </div>
                <div class="menu ">
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="index.html" th:href="@{/}"> 国内疫情</a>
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="world.html" th:href="@{/world}"> 国外疫情</a>
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="rumor.html" th:href="@{/toRumor(page=1)}"> 警觉谣言</a>
                </div>
            </div>
            <div class="ui dropdown item my-mobile-hide  c-item">
                <div class="text  my-font-bigsmall">
                    🎉丰富生活
                </div>
                <div class="menu ">
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="../login.html"  th:href="@{/life(page=1)}"> 增加厨艺</a>
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="#" th:href="@{/toyl(page=1)}">新闻资讯</a>
                </div>
            </div>
            <div class="ui dropdown item my-mobile-hide  c-item">
                <div class="text  my-font-bigsmall">
                    👺高效学习
                </div>
                <div class="menu ">
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="../login.html" th:href="@{/bj/index}"> 在线笔记</a>
                    <a class="item my-mobile-hide c-item my-font-bigsmall" href="#" th:href="@{/study}"> 在线学习</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 汉堡 -->
    <span class="ui black button my-hanbao my-mobile-show" href="#" id="toggle-menu"><span class="" style="font-size: 30px;">🍔</span></span>
</nav>
<br>
<br><br><br><br><br>

    <!-- 中间内容 -->
    <div class="my-container centered ">
        <div class="ui container " style="width: 50%">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            个人笔记登录
                        </div>
                    </h2>

                    <form class="ui large form" method="post" th:action="@{/bj/login}">
                        <div class="ui stacked segment">

                            <br>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input name="phone" placeholder="Phone" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input name="password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <button class="ui inverted green submit button" type="submit">登录</button>
                            <a class="ui inverted blue button" th:href="@{/toReg}">注册</a>
                            <div class="ui error message mini"></div>
                        </div>
                    </form>
                    <br>
                    <button class="ui animated button inverted violet face " onclick="face()" >
                        <div class="visible content"> <i class="right arrow icon"></i></div>
                        <div class="hidden  content">
                        人脸登录
                        </div>
                    </button>

                    <div class="ui negative mini message" th:text="${message}" th:unless="${#strings.isEmpty(message)}"></div>

                    <div class="ui modal tiny face"  >
                        <i class="close icon"></i>
                        <div class="header">
                            刷脸登录
                        </div>
                        <div class="image content">
                            <video id="video" width="100%" height="100%" autoplay></video>
                            <canvas hidden="hidden" id="canvas" width="500" height="400"></canvas>
                        </div>
                        <div class="actions">
                            <button class="ui inverted green  button" id="CatchCode">
                                检测登录
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<br><br><br><br><br>

    <!-- 底部 -->
    <footer class="ui inverted vertical segment my-padding-shuxian my-margin-top-small "  >
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="four wide  column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img class="ui rounded image" src="../../static/img/wx.jpg" th:src="@{/img/wx.jpg}" style="height: 50% !important;width: 50% !important;">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">学校</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="">>---运城学院---<</a>
                        <a class="item" href="">>---数学与信息技术学院---<</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">联系我</h4>
                    <div class="ui inverted link list">
                        <span class="item" href="">phone:15034344690</span>
                        <span class="item" href="">QQ:905866484</span>
                        <span class="item" href="">email:905866484@qq.com</span>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">NotForzq</h4>
                    <div class="ui inverted link list">
                        <span class="item">------------------------</span>
                        <span class="item" href="#"> 学习不仅仅是为了自己！前方不会孤单！</span>
                        <span class="item">------------------------</span>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="item my-opacity-font">Welcome to Active Life, since 2020</p>
            <p class="item my-opacity-font" href="http://www.beian.miit.gov.cn/">晋ICP备20001376号-1</p>
        </div>

    </footer>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
<script src="../static/js/jhbg.js" th:src="@{/js/jhbg.js}"> </script>

    <script th:inline="javascript">

        $("#toggle-menu").click(function() {
            $('.c-item').toggleClass('my-mobile-hide');
        });
        $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            });

        $('.ui.form').form({
            fields: {
                phone: {
                    indentifier: 'phone',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入手机号'
                    }]
                },
                password: {
                    indentifier: 'password',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入密码'
                    }]
                }
            }
        })
        function face(){
            $('.ui.modal')
                .modal('show');
            open();
        }
        var video;//视频流对象
        var context;//绘制对象
        var canvas;//画布对象

        //拍照
        $("#CatchCode").click(function() {
            context.drawImage(video, 0, 0, 330, 250);
            CatchCode();
        });

        //将当前图像传输到后台
        function CatchCode() {
            layer.load();
            //获取图像
            var img = getBase64();
            //Ajax将Base64字符串传输到后台处理
  /*          $.post("/searchFace","img="+img,function (data) {
                //返回的结果
                layer.closeAll();
                console.log(data)
                if(data.status == 200){
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.href="/bj/notes";
                    },1000);
                }else{
                    layer.msg(data.msg);
                }
            })*/


            $.ajax({
                type : "POST",
                async : false,
                url : "/searchFace",
                data : {
                    img : img
                },
                success : function(data) {
                    //返回的结果
                     layer.closeAll();
                    console.log(data)
                    if(data.status == 200){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.href="/bj/notes";
                        },1000);
                    }else{
                        layer.msg(data.msg);

                    }
                }
            });
        };
        //开启摄像头
        function open() {
            //获取摄像头对象
            canvas = document.getElementById("canvas");
            context = canvas.getContext("2d");
            //获取视频流
            video = document.getElementById("video");
            var videoObj = {
                "video" : true
            }, errBack = function(error) {
                console.log("Video capture error: ", error.code);
            };
            context.drawImage(video, 0, 0, 330, 250);
            //初始化摄像头参数
            if (navigator.getUserMedia || navigator.webkitGetUserMedia
                || navigator.mozGetUserMedia) {
                navigator.getUserMedia = navigator.getUserMedia
                    || navigator.webkitGetUserMedia
                    || navigator.mozGetUserMedia;
                navigator.getUserMedia(videoObj, function(stream) {
                    video.srcObject = stream;
                    video.play();
                }, errBack);
            }
        }
        //将摄像头拍取的图片转换为Base64格式字符串
        function getBase64() {
            //获取当前图像并转换为Base64的字符串
            var imgSrc = canvas.toDataURL("image/png");
            //截取字符串
            return imgSrc.substring(22);
        };
    </script>
</body>

</html>